.logo-center {
  height: 80%;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.user-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  white-space: nowrap;
}

.user-info-text {
  white-space: nowrap;
  margin-left: auto;
}
