.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-alert {
  width: auto;
  margin: 0 auto;
  border: 1px solid orange;
  text-align: center;
  padding: 16px;
  padding-right: 30px;
}

.button-box {
  text-align: center;
  margin-top: 16px;
}

.custom-button {
  margin: 8px;
}
