@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.snackbar-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.snackbar-controls {
  display: flex;
  align-items: center;
}

.snackbar-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f44c3f;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}

.snackbar-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4962f9;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
}

.snackbar-message {
  border-radius: 10px;
  width: 300px;
  margin-bottom: 10px;
  border: 1px solid;
  border-color: red;
  animation: fadeInUp 0.5s ease;
}